<%- include("../partials/header") %>
<h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
<label> Airline 
    <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
        <option value="Delta">Delta</option>
    </select>
</label> <br>
<label>Airport
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
</label> <br>
<label> Flight Number:
    <input type="number" name="flightNo">
</label> <br>  
<label> Departure Date:
    <input
  type="datetime-local"
  name="departs"
  
  min="2023-10-24T00:00"
  max="2025-10-24T00:00" />

</label>
</form>
<p><%= errorMsg %></p>
<%- include("../partials/footer") %>